.live-transactions {
    background-color: #222;
    padding: 20px;
    width: 100%;
    border: 2px solid #ff00ff; /* Neon border */
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 0 15px #ff00ff;
    margin-left: -5px; /* Spacing from main content */
    scrollbar-width: thin;
    scrollbar-color: #ff00ff #1f1f1f;
    
  }
  
  .live-transactions h2 {
    color: #ff00ff;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
  }
  
  .live-transactions ul {
    list-style: none;
    padding: 0;
    max-height: 400px; /* Max height for scrolling */
    overflow-y: auto;
  }
  
  .live-transactions li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #333;
    border-radius: 5px;
  }
  
  .live-transactions li .user {
    color: #fff;
    font-weight: bold;
  }
  
  .live-transactions li .amount {
    color: #00ff00; /* Green for positive amounts */
    font-size: 1.2em;
  }
  
  .live-transactions li .time {
    color: #888;
  }
  